body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --color-bg: rgb(4, 4, 4);
  --color-bg-variant: rgba(76, 76, 76, 0.526);
  --color-primary: rgb(255, 255, 255);
  --color-primary-variant: rgb(16, 48, 231);
  --color-white: white;

  --color-light: #ffd700;

  --transition: all 400ms ease;

  --container-lg: 75%;
  --container-md: 86%;
  --container-sm: 90%;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7rem;
  background-image: url(../src/assets/bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  width: var(--container-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

section > h2,
section > h5 {
  text-align: center;
  color: var(--color-light);
}
section > h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0;
  cursor: pointer;
  border: 1px solid var(--color-primary-variant);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-primary-variant);
  color: var(--color-white);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary-variant);
  color: var(--color-white);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* *********************** MEDIA QUERIES(Medium Devices)***************** */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-md);
  }
  section > h2 {
    margin-bottom: 6rem;
  }
}

/* *********************** MEDIA QUERIES(Medium Devices)***************** */

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-sm);
  }
  section > h2 {
    margin-bottom: 2rem;
  }
}
